.navbar{
    display:flex;
    background-color: #f584c4;
    justify-content:space-around;
    padding:10px;
}
.list{
    list-style:none;
    margin:10px;
}
.link{
    list-style:none;
    background-color:bisque;
    padding:10px;
    border-radius:10px;
}
.link:hover{
    background-color: rgb(218, 143, 45);
    color:white;
}